@import "../../utils/mixins.scss";

.tools {
  width: 78px;
  height: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;

  &__item {
    position: relative;

    &:hover .tools__icon {
      @include hover(fill, $primary-accent-color);
    }

    &:hover::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      position: absolute;
      @include hover(background-color, $primary-accent-color);
      left: 0;
      top: calc(100% + 12px);
    }
  }

  &__link {
    display: block;
    width: 18px;
    height: 18px;

    &:focus .tools__icon {
      @include hover(fill, $primary-accent-color);
    }

    &:focus .tools__item::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      position: absolute;
      @include hover(background-color, $primary-accent-color);
      left: 0;
      top: calc(100% + 12px);
    }
  }

  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    fill: $primary-white-color;
  }
}
