$primary-title-font: "Montserrat";
$secondary-title-font: "Kaushan Script";
$primary-descr-font: "Roboto";

$primary-bg-gradient: linear-gradient(
  to top,
  rgba(252, 227, 138, 0.9),
  rgba(243, 129, 129, 0.9)
);

$primary-white-color: #ffffff;
$primary-title-color: #333333;
$primary-accent-color: #fce38a;
$under-title-color: #f38181;
$primary-descr-color: #999999;

$serv-icon-color: #95e1d3;

$team-img-bg: #95e1d3;

$social-icon-color: #f38181;
$social-bg-hover: #f38181;

$primary-border-color: #e5e5e5;
$placeholder-color: #cccccc;
// e7e7e7
