@import "../utils/mixins.scss";

.title-section {
  margin: 0 auto;
  &__prev,
  &__main {
    display: block;
    color: $primary-title-color;
    text-align: center;
    margin: 0 auto;
  }

  &__prev {
    @include secondary-title-font(24px, 1.2);
    margin-bottom: 18px;
  }

  &__main {
    text-transform: uppercase;
    @include primary-title-font(30px, 700, 1.2);
  }
}
